:host {
  display: grid;
  padding: 16px;
  background-color: var(--dark-hover-color);
  border: 1px solid white;
  grid-template-columns: 32px 1fr 44px;
  gap: 12px;
  align-items: center;
  height: min-content;
}

.hidden-textarea {
  padding: 5px;
  resize: none;
  background-color: var(--dark-hover-color);
  border: none;
  color: white;
  border-bottom: 1px solid var(--primary-color);
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

:host.comment {
  border: 1px dashed white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
