<form class="profile-form-wrapper" [formGroup]="searchForm" style="margin-bottom: 30px;">
  <div class="profile-form">
    <div class="two-columns" style="display: flex; gap:15px">
      <label for="" class="tt-form-label">
        <span class="text">Name</span>
        <input formControlName="firstName" type="text" class="tt-form-input" />
      </label>
      <label for="" class="tt-form-label">
        <span class="text">Name</span>
        <input formControlName="firstName" type="text" class="tt-form-input" />
      </label>
      <label for="" class="tt-form-label">
        <span class="text">Stack</span>
        <input formControlName="stack" type="text" class="tt-form-input" />
      </label>
    </div>

  </div>
</form>
<app-profile-header></app-profile-header>
