.profile-search-form {
  padding: 16px 20px;
  border: 1px solid white;
  background-color: var(--dark-hover-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}
