:host {
    display: grid;
    grid-template-columns: 112px 1fr;
    gap: 24px;
}

img {
    object-fit: cover;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.username-and-name {
    text-align: left;
}