:host {
  display: grid;
  grid-template-columns: 96px 1fr;
  gap: 12px;
}

.usernmae-and-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


