<form action="" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <h1>Information about receive</h1>
  <label for="type">
    Type receive

    <select name="" id="type" formControlName="type">
      <option [value]="ReceiverType.PERSON">Phys face</option>
      <option [value]="ReceiverType.LEGAL">Legal face</option>
    </select>
  </label>
  <br />

  <label for="name">
    Name
    <input
      required
      type="text"
      placeholder="name"
      class="tt-input"
      formControlName="name"
    />
  </label>
  @if(form.controls.name.touched && form.controls.name.hasError("required")) {
  <small>required</small>
  } @if (form.controls.type.value == ReceiverType.PERSON) {
  <label for="lastName">
    LastName
    <input
      type="text"
      placeholder="lastName"
      class="tt-input"
      formControlName="lastName"
    />
  </label>

  } @else {
  <label for="lastName">
    Inn
    <input
      type="text"
      placeholder="inn"
      class="tt-input"
      formControlName="inn"
    /> </label
  >}

  <div formGroupName="address">
    <h2>address receive</h2>
    <label for="city">
      <input
        formControlName="city"
        type="text"
        class="tt-input"
        placeholder="city"
      />
    </label>
    <label for="street">
      <input
        formControlName="street"
        type="text"
        class="tt-input"
        placeholder="street"
      />
    </label>
    <label for="building">
      <input
        formControlName="building"
        type="number"
        class="tt-input"
        placeholder="building"
      />
    </label>
    <label for="flat">
      <input
        formControlName="flat"
        type="number"
        class="tt-input"
        placeholder="flat"
      />
    </label>
  </div>

  <button type="submit" class="btn">click</button>
</form>
<br />

<pre>
  {{ form.value | json }}
  {{ form.valid }}
</pre>
