<form action="" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <label>
    <select formControlName="type" >
      <option [value]="ReceiverType.PERSON">physical person</option>
      <option [value]="ReceiverType.LEGAL">government person</option>
    </select>
  </label>
  <label>
    Name
    <input
      type="text"
      class="tt-input"
      formControlName="name"
      placeholder="type your name"
      required
    />
  </label>
  @if(form.controls.type.value == ReceiverType.LEGAL) {
  <label>
    INN
    <input
      type="text"
      class="tt-input"
      formControlName="inn"
      placeholder="type your inn"
      required
    />
  </label>
  } @else {
  <label>
    Lastname
    <input
      type="text"
      class="tt-input"
      formControlName="lastName"
      placeholder="type your lastname"
      required
    />
  </label>
  }

  <h2>Address send</h2>
  <div formGroupName="address" class="test">
    City
    <input
      type="text"
      class="tt-input"
      formControlName="city"
      required
      placeholder="type your city"
    />
    street
    <input
      type="text"
      class="tt-input"
      name="street"
      required
      placeholder="type your street"
    />
    building
    <input
      type="text"
      class="tt-input"
      formControlName="building"
      required
      placeholder="type your building"
    />
    apartment
    <input
      type="text"
      class="tt-input"
      placeholder="type your apartment"
      formControlName="apartment"
      required
    />
  </div>
  <button class="btn" [disabled]="form.invalid">confirm</button>
</form>
