@if (profile) {
<div class="profile-card">
  <div class="avatar-name">
    <img
      [ngSrc]="profile.avatarUrl| pipeImage" priority width="32" height="32"
      alt="avatar"
      class="profile_avatar"
    />
    <div class="profile-card__name">
      <strong>{{ profile.firstName }}</strong>
      <span>{{ profile.lastName }}</span>
    </div>
  </div>

  <div class="prfile-card__description">
    {{ profile.description }}
  </div>

  <div class="profile-card__tags">
    @for (tag of profile.stack; track tag) {
    <p class="skill-tag">{{ tag }}</p>

    }
  </div>

  <div class="profile-card__action-btn">
    <button class="btn">Send</button>
  </div>
</div>

} @else {
<div>not found</div>
}
