:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
  overflow: scroll;
  height: calc(100% - 85px);
}

.message-wrapper {
  display: grid;
  gap: 12px;
}

.self {
    align-items: end;
}
