<app-profile-header></app-profile-header>

<form class="profile-form-wrapper" [formGroup]="form">
  <div class="profile-form">
    <div class="two-columns">
      <label for="" class="tt-form-label">
        <span class="text">Name</span>
        <input formControlName="firstName" type="text" class="tt-form-input" />
      </label>
      <label for="" class="tt-form-label">
        <span class="text">Surname</span>
        <input formControlName="lastName" type="text" class="tt-form-input" />
      </label>
    </div>
    <label for="" class="tt-form-label m16">
      <span class="text">Username</span>
      <input formControlName="username" type="text" class="tt-form-input" />
    </label>

    <label for="" class="tt-form-label m16">
      <span class="text">About self</span>
      <textarea
        formControlName="description"
        rows="4"
        style="resize: none"
        type="text"
        class="tt-form-input"
      ></textarea>
    </label>

    <label for="" class="tt-form-label m16">
      <span class="text">Stack</span>
      <input formControlName="stack" type="text" class="tt-form-input" />
    </label>
  </div>

  <div>
    <button class="btn m60" style="width: 100%" (click)="onSave()">Save</button>
  </div>
</form>
