:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 322px 1fr;
  padding: 18px;
}

.profile-form {
  color: white;
}
.profile-form-wrapper {
  padding: 32px;
  border: 2px solid orange;
  display: grid;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}