:host {
  display: grid;
  gap: 32px;
  grid-template-columns: 132px 1fr;
  padding-bottom: 16px;
}

.avatar {
  height: 132px;
  width: 132px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.dropzone {
  border: 1px dotted red;
  padding: 16px;
  width: 100%;
  display: grid;
  place-items: center;

  &.fileover {
    border: 2px solid orange;
  }
}

.dropzone-content {
}

.avatar-input {
  display: none;
}
