.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.profile-page__body {
  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 350px;
}

.wrapper {
  display: flex;
  gap: 16px;
  align-items: start;
}

.wow {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.skills {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}