@if (profile$ | async; as profile) {
<header class="header">
  <app-profile-header [profile]="profile"></app-profile-header>
  <a class="btn link" routerLink="/settings">Change</a>
</header>

<main class="profile-page__body m20">
  <div>
    <app-post></app-post>
    <app-post-feed></app-post-feed>
  </div>

  <div>
    <h2>Subscrubas</h2>
    <div class="wrapper">
      @for (item of subscribers$ | async; track $index) {
      <a
        href=""
        class="subscriber-avatar-btn"
        [routerLink]="['/profile', item.id]"
      >
        <img [src]="item.avatarUrl | pipeImage" alt="" class="wow" />
      </a>
      }
      <a [routerLink]="['/search']"> search</a>
    </div>

    <h3 class="m32">Skills</h3>
    <div class="skills">
      @for (skill of profile.stack ; track $index) {
      <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <h3 class="m16">About self</h3>
    <div>{{ profile.description }}</div>
  </div>
</main>

}
