@if(profile$ | async; as profile) {
<header class="profile-page__header">
  <app-profile-header [profile]="profile"></app-profile-header>

  <a class="btn to-setting-btn" [routerLink]="['/settings']">
    Change
    <svg icon="gearblack" class="to-setting-icon"></svg>
  </a>
</header>

<main class="profile-page__body m60">
  <app-post-feed test></app-post-feed>

  <div>
    <h3 class="h6">Subscribers</h3>

    <div class="subscribers-wrapper">
      @for (profile of subscribers$ | async; track $index) {
      <a class="subscriber-avatar-btn" [routerLink]="['/profile', profile.id]">
        <img [src]="profile.avatarUrl | imgPipe" alt="" />
      </a>
      }

      <a class="to-subscribers-search" [routerLink]="['/search']"> </a>
    </div>

    <div class="m32">
      <h3 class="h6">Skills</h3>
      <div class="profile-card__tags m16">
        @for (stack of profile.stack; track $index) {
        <div class="skill-tag">{{ stack }}</div>
        }
      </div>
    </div>

    <div class="m32">
      <h3 class="h6">About self</h3>
      <p class="m16">{{ profile.description }}</p>
    </div>
  </div>
</main>
} @else {
<h1>loading...</h1>
}
