<form class="login-form" action="" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1">Enter</h1>

  <label for="" class="tt-control-label">
    username
    <input
      name="username"
      formControlName="username"
      type="text"
      placeholder="type login"
      class="tt-input"
    />
    @if(form.controls.username.errors && form.controls.username.touched) {
      <strong style="color: red">man! type your username!!!</strong>
      }
  </label>

  <label for="" class="tt-control-label">
    password
    <input
      name="password"
      formControlName="password"
      type="text"
      placeholder="type password"
      class="tt-input"
    />
    @if(form.controls.password.errors && form.controls.password.touched) {
    <strong style="color: red">man! type your password!!!</strong>
    }
  </label>
  <button type="submit" class="btn" [disabled]="!form.valid">
    login
  </button>
</form>

<img src="koala.jpg" alt="logoKoala" class="logo-koala" />
