<form action="" class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <label for="" class="tt-control-label m16">
    Username
    <input
      formControlName="username"
      type="text"
      class="tt-input"
      placeholder="type email"
    />
  </label>

  <label for="" class="tt-control-label m32">
    Password
    <div class="password_hide">
      <input
        formControlName="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        class="tt-input"
        placeholder="type login"
      />
      <span
        class="hide_btn"
        [class.active]="isPasswordVisible()"
        (click)="isPasswordVisible.set(!isPasswordVisible())"
      >
        <div class="hide"></div>
      </span>
    </div>
  </label>
  <button class="btn" [disabled]="!form.valid">Login</button>
</form>
<img
  ngSrc="/koala.jpg"
  alt="koala"
  class="image"
  height="100"
  width="100"
  priority
/>
