:host {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 24px;
}

.login-form {
    display: grid;
    gap: 15px;
}

.logo-koala {
    max-width: 550px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}